
@font-face {
font-family: 'Proza Libre', 'Verdana', sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Proza+Libre:400,600i,700,900");
}

/*--- basic layout structure ---*/
body {
  background-color: #3f383b;
}

header {
  background-color: #e5a2a2;
  height: 235px;
  margin-top: -50px;
}

main {
  width: 900px;
  margin: 0 auto;
  padding: 50px 100px;
  background-color: #d6d6d6;
  box-shadow: 0px 5px 5px 5px #000;
  border-color: #333;
  border-top-style: inset;
  border-top-width: 5px;

}


/*--- specific layout structures ---*/
.navbar {
  height: 35px;
  background-color: #660000;
  padding-bottom: 0px;
  margin-bottom: 0px;
  box-shadow: 0px 5px 5px #000;

}

::after header {
  content: "";
  display: block;
  clear: both;
  padding-bottom: 30px;
}


/*--- general type styles---*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Proza Libre', 'Verdana', sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}

h1, h2 {
  color: #660000;
}

h1 {
  font-size: 30pt;
}

h2 {
  font-size: 24pt;
  margin-top: 30px;
}

h3 {
  color: #660000;
  font-size: 20pt;
  font-weight: 600;
  /*font-style: italic;*/
  margin-top: 25px;
}

h4 {
  color: #cc0000;
  font-size: 18pt;
  margin-bottom: 25px;
}

h5 {
  color: #cc0000;
  font-size: 16pt;
}

p {
  font-family: "Verdana", sans-serif;
  padding-left: 30px;
}

ul, ol {
  padding-left: 100px;
  font-family: "Verdana", sans-serif;
}


/*--- link styles ---*/
a:link {
  color: #b30000;
}

a:visited {
  color: #660000;
}

a:hover {
  color: #ad0022;
}

a:active {
  color: #ff4d4d;
}

/*--- specific type styles---*/
/*--- class:navbar type styles---*/

.navbar ul {
  list-style: none;
}

.navbar li {
  display: inline-block;
}

/*--- index.html type styles---*/
.headline {
  font-size: 46pt;
  font-weight: 900;
  padding-top: 40px;
  padding-left: 375px;
  margin-bottom: 10px;
}

.tagline {
  color: #83151A;
  font-size: 32pt;
  font-weight: 700;
  font-style: italic;
  padding-left: 500px;
  margin-top: 0px;
}

.maker1 {
  color: #83151A;
  font-size: 18pt;
  padding-left: 30px;
}

/*--- guess.html type styles---*/

.quiz-list {
  padding-left: 50px;
}

.quiz-list h3 {
  font-size: 22px;
  font-weight: bold;
}

.quiz-list b {
  color: #ad0022;
}


/*--- graphics styles ---*/
.mark {
  height: 200px;
  width: 200px;
  float: left;
  margin-top: -50px;
  padding-left: 150px;
  padding-bottom: 50px;
  transform: rotate(45deg);
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
}
